/* Typography */

body {
    letter-spacing: 1px;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
}

.footer-sitemap-list {
    list-style: none;
    text-decoration: none;
}

.footer-sitemap-list a:hover {
    text-decoration: underline;
}

.color-links {
    color: #0033A0;
}

.nav-link {
    text-transform: uppercase;
}

.navbar-brand {
    text-transform: uppercase;
    font-size: 1.5rem;
}

/* Bootstrap Components */

.jumbotron {
    max-height: 520px;
}

.footer {
    background-color: #fff;
}

/* Widgets*/ 

.widget {
    padding-bottom: 30px;
}

/* Lists */

footer ul {
    padding-inline-start: 0;
}